PORT=3000
NODE_ENV=development
PUBLIC_BASE_URL=
GEMINI_API_KEY=
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent
GITHUB_WEBHOOK_SECRET=
DISCORD_WEBHOOK_URL=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=orbyt
DB_STORAGE=orbyt.sqlite
